<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Sensor alarms</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<style type="text/css">
    .bs-example{
    	margin: 20px;
    }
</style>
</head>
<body>
	<div class="container">
	<div class="page-header text-center">
		<h1>Sensor alarms</h1>
    </div>
 <div class="well">
                <div class="row">
<table id="sensor" summary="Watermeteralert logging" class="table table-striped">

	<caption>Alarms of <%= sensor.name %> with ID <%= sensor.sensorId %></caption>
    <thead>   
        <tr>
            <th scope="col">Alarm</th>
            <th scope="col">Date</th>
        </tr> 
    </thead>
    <tbody>
		<% sensorlogs.forEach(function(sensorlog){ %>
		<tr>
            <td><%= sensorlog.status %></td>
            <td><%= sensorlog.timestamp %></td>
		<%  }) %>
    </tbody>
</table>
</div>
</div>
<p>Demo by: G-DC</p>

</body>
</html>